{% extends "base.html" %}

{% block title %}ToBeTogether{% endblock %}

{% block content %}

  <h1>Hello dear friend</h1>
  
  <p>ToBeTogether is a social project that is designed for private mutual 
    assistance to each other in various situations.</p>
  <p>This project allows you to anonymously ask the most unimaginable questions and receive an anonymous answer to them.</p>
  <p>On this site, you should not worry about public condemnation.</p>

  <p><a href="{% url 'ToBeTogether' %}">About Us</a></p>

{% endblock %}