{% extends 'base.html' %}

{% block title %}{{issue.issue_title}}{% endblock %}

{% block content %}

<h2>{{issue.issue_title}}</h2>
<p>{{issue.issue_description}}</p>
<em>{{issue.pub_date}}</em>


<hr>

<form action="{% url 'leave_comment' issue.id %}" method="POST", enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p }}
    <input class="file_load" type="file" name="image" value="Load image" placeholder="Load image">
    <input type="submit" value="Save"  name="_save">

</form>


<hr>

{% if latest_comments %}
    {% for com in latest_comments %}
        <p>
            <strong>{{ com.author_name }} <div id="data_time">{{ com.created_at }}</div></strong>
            <p>{{com.comment_text}}</p>
        </p>
        {% if com.image %}
            <div>
                <img id="image_comment" src = "{{ com.image.url }}" width=400px; height=auto;>
            </div>
        {% endif %}
        <hr>
    {% endfor %}

{% else %}
Write your first comment, please.
{% endif %}



{% endblock %}