{% extends "base.html" %}

{% block title %}TBT - New issues{% endblock %}

{% block content %}

  <h1>New issues</h1>
  
  <p id="create_issue"><a href="{% url 'create_issue' %}">Create an issue</a></p>
  <p class="join_to_issue">Join to issue:</p>
  <form class="search" method="GET" action="/issue/new_issues/search/">
    <input type="search" name="q" placeholder="Search">
  </form>


  {% if search_issues %}
    {% for a in search_issues %}
      <div class="list_issues">
        <a href="{% url 'detail' a.id%}">{{a.issue_title}}</a>
      </div>
    {% endfor %}

  {% else %}
    Issues not found
  {% endif %}




{% endblock %}