{% extends "base.html" %}

{% block title %}My issues{% endblock %}

{% block content %}

  <h1>Hello dear friend</h1>
  
  <p>ToBeTogether is a social project that is designed for private mutual 
    assistance to each other in various situations.</p>
  <p>Today, circumstances make us separated from each other.</p>
  <p>But I am sure that we can be together and will be able to help each other 
     despite the conditions and distance.</p>


  <p><a href="{% url "ToBeTogether" %}">About Us</a></p>

{% endblock %}